body {
    background-color: #ffe5ec;
}

.logo {
    width: 10rem;
}

.btn {
    background-color: #ffc2d1;
}

.btn:hover {
    background-color: #ff8fab;
}

.btn-delete {
    height: 2.5rem;
    width: 2.5rem;
}

footer {
    background-color: #fb6f92;
}

a {
    color: #fb6f92 !important;
}

a:hover {
    color: #ef476f !important;
}

.titulo {
    display: -webkit-box;
    /* Establece la visualización como una caja flexible para usar -webkit-line-clamp */
    -webkit-line-clamp: 1;
    /* Limita el número de líneas a mostrar */
    -webkit-box-orient: vertical;
    /* Establece la orientación vertical para la caja flexible */
    overflow: hidden;
    /* Oculta el contenido que excede el límite de líneas */
}

.descripcion {
    min-height: 2rem;
    max-height: 5rem;
    display: -webkit-box;
    /* Establece la visualización como una caja flexible para usar -webkit-line-clamp */
    -webkit-line-clamp: 3;
    /* Limita el número de líneas a mostrar */
    -webkit-box-orient: vertical;
    /* Establece la orientación vertical para la caja flexible */
    overflow: hidden;
    /* Oculta el contenido que excede el límite de líneas */
}